# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\adi.amuzig\Desktop\Google Drive\טכניון\תואר שני\קורסים\השלמות\מתמ\HW\hw2\code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
